<div class="container mt-3">
    <div class="row card-group">
        <div class="col-4" *ngFor="let ad of advertisements">
                <div class="card mt-3" style="width: 18rem;" >
                        <img src="/assets/ad.jpg" class="card-img-top" alt="{{ad.title}}">
                        <div class="card-body">
                          <h5 class="card-title">{{ad.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">by {{ad.user.name}} </h6>
                          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                </div>
        </div>
    </div>
</div>
